<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            Read the insruction of this page carefully
                        </mat-card-title>
                        <mat-card-subtitle> One step more to go</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="ml20">

                        <h1>{{quiz.title}}</h1>
                        <p>{{quiz.description}}</p>

                        <mat-divider></mat-divider>
                        <br/>
                        <h2>Important Instruction</h2>
                        <ul>
                            <li> This quiz is only for practice purpose.</li>
                            <li> You have to submit quiz with in <b>{{quiz.numberOfQuestions*2}} Minutes.</b></li>
                            <li> You can attemp the quiz any number of time. </li>
                            <li> Thre are <b>{{quiz.numberOfQuestions}} questions</b> in this quiz.</li>
                            <li> Each questions carries<b> {{quiz.maxMarks/quiz.numberOfQuestions}} marks.</b> 
                                No negative marking for wrong one.</li>
                            <li> All Question is of MCQ type</li>
                        </ul>
                        <mat-divider></mat-divider>
                        <br/>
                        <h2>Attempting Quiz</h2>
                        <ul>
                            <li>Click <b>Start Quiz</b> button to start the quiz.</li>
                            <li>The time will start the moment you click the start test button.</li>
                            <li> You can not resume this quiz, if inturupted any reason.</li>
                            <li> Scroll down to move to next question.</li>
                            <li> Click on Submit Quiz button on completetion of the Quiz.</li>
                            <li>Report of the Test is autometically genrated in the form of PDF copy</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions class="text-center">
                        <button (click)="startQuiz()" mat-raised-button color="primary"> Start Quiz</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>